*{text-align: center;
list-style-type: none;}
.kiko{
    height: 1000px;
}
nav{
    border: 1px solid;
    position: absolute;
    margin-left: ;

}
li{
    float: left;
}
main{
    position: relative;
    top: 50px;
    margin-top: 50px;
}